[package]
description = "Parser for the TLS protocol"
license = "LGPL-2.1+"
keywords = ["TLS","SSL","protocol","parser","nom"]
homepage = "https://github.com/rusticata/tls-parser"
repository = "https://github.com/rusticata/tls-parser.git"
name = "tls-parser"
version = "0.2.1"
authors = ["Pierre Chifflier <chifflier@wzdftpd.net>"]
build = "build.rs"

[lib]
name = "tls_parser"

[dependencies]
nom = "1.2.4"
phf = "0.7.16"
enum_primitive = "0.1.0"

[build-dependencies]
phf_codegen = "0.7.16"
